<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{heading}} <br>
    {% for i in lang %}
    <div>{{i}}</div>
    {% endfor %}
    <br>
    {% for i in student %}
    <div>Name : {{i.name}} <br>
        Phone : {{i.phone}}
    </div>
    {%endfor%}
    <form method="post">
        {%csrf_token%}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">val 1</label>
          <input type="text" name="val1" value="{{n1}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">val 2</label>
          <input type="text" name="val2" value="{{n2}}" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="text" value="{{ans}}"
    </form>
</body>
</html>